<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'view_equipment' %}">Снаряжение</a>
        <a href="{% url 'hike' %}">Поход</a>
        <a href="{% url 'bike' %}">Велосипед</a>
        <a href="{% url 'water_rafting' %}">Сплав</a>
        <a href="{% url 'bp' %}">БП</a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2024 Все права защищены.</p>
    </footer>
</body>
</html>
